body {
  /* background: linear-gradient(to right, #262949, #044); */
  background: #262b2a;
}

.head2 {
  font-family: 'Orbitron', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: yellow;
  padding-left: 8px;
  margin-top: 2rem;
}

.head1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  margin: 0;
  padding-left: 8px;
}

.head1 .fade {
  color: yellow;
  transition: color 0.5s ease-in-out;
}

.intro {
  font-family: 'Akaya Kanadaka', sans-serif;
  padding-left: 8px;
  font-size: 20px;
  color: #fff;
  padding-bottom: 26px;
}

.Glink {
  background-color: yellow;
  color: #000;
  padding: 12px;
  border-radius: 8px;
  text-decoration: none;
  border: 0;
  margin-left: 8px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 300;
}

.slick-slide .image1 {
  padding: 20px;
  height: 14rem;
  width: 24rem;
}
