body {
  /* background: linear-gradient(to right, #262949, #044); */
  background: #262b2a;
}

.head2 {
  font-family: 'Orbitron', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: yellow;
  padding-left: 8px;
  margin-top: 6rem;
}

.head1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  margin: 0;
  padding-left: 8px;
}

.head1 .fade {
  color: yellow;
  transition: color 0.5s ease-in-out;
}

.intro {
  font-family: 'Akaya Kanadaka', sans-serif;
  padding-left: 8px;
  font-size: 20px;
  color: #fff;
  padding-bottom: 26px;
}

.Glink {
  background-color: yellow;
  color: #000;
  padding: 12px;
  border-radius: 8px;
  text-decoration: none;
  border: 0;
  margin-left: 8px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 300;
}

.feature {
  display: flex;
  justify-content: flex-end;
}

.image1 {
  padding: 0;
  margin: 0;
}

.image2 {
  width: 40%;
}

.image3 {
  position: relative;
  top: 18px;
  right: 9px;
  width: 2rem;
  height: 2rem;
}

.intro2 {
  font-family: 'Akaya Kanadaka', sans-serif;
  padding-right: 8px;
  font-size: 23px;
  font-weight: bold;
  color: #fff;
  margin: 0;
  padding-top: 1rem;
}

/* .slick-slide .image1 {
  padding: 0.4rem 0.3rem;
  height: 14rem;
  width: 24rem;
  border-radius: 1.4rem;
} */

.slick-slider {
  margin: 1rem 1rem;
  border-radius: 0.5rem;
}

.getit {
  display: flex;
  justify-content: center;
  gap: 4px;
  position: relative;
  top: -60px;
}
